.header {
    height: 128px;
    width: 100%;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}
.mainLogoLink img{
    max-width: 100px;
    max-height: 89px;
    margin-bottom: 20px;
}
.navbar{
    display: flex;
    align-items: center;
    height: 100%;
}