@font-face {
    font-family: 'RedHat_Regular';
    src: url('@/assets/fonts/RedHatDisplay-Regular.otf') format("truetype");
}

@font-face {
    font-family: 'RedHat_Medium';
    src: url('@/assets/fonts/RedHatDisplay-Medium.otf') format("truetype");
}

@font-face {
    font-family: 'RedHat_Bold';
    src: url('@/assets/fonts/RedHatDisplay-Bold.otf') format("truetype");
}

@font-face {
    font-family: 'RedHat_Black';
    src: url('@/assets/fonts/RedHatDisplay-Black.otf') format("truetype");
}

@font-face {
    font-family: 'Merienda';
    src: url('@/assets/fonts/Merienda-Bold.otf') format("truetype");
}
