.footer {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.footer p {
    max-width: 300px;
}

.social_media {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.social_media img{
    max-height: 45px;
}

@media screen and (min-width: 960px) {
 .footer {
     flex-direction: row;
     justify-content: space-between;
 }
}